/* Bella's CSS file */

/* testing out body image, hiding body color
body { font-family: verdana, arial, sans-serif; 
       font-size: 14px;
       line-height; 1.5;
       margin: 0;
       padding: 0;
       background: #EBD2E2 ; }  end of my comment */

body { font-family: verdana, arial, sans-serif; 
       font-size: 14px;
       line-height; 1.5;
       margin: 0;
       padding: 0;
       background: white url(images/backgroundmonkey.png);}

h1, h2, h3 {font-family: georgia, garamond, serif;
	    font-weight: normal; }

h1 {font-size: 160%; }
h2 {font-size: 130%; }
h3 {font-size: 120%; }

p, h1, h2, h3, ol, ul {margin-top: 0;
		       margin-bottom: 1px; }

ol {padding-left: 0; 
    margin-left: 30px; }

img {padding: 4px; 
     border: 4px dotted pink;
     background-color: white; }

a {color: #b24d8a;
   font-weight: bold;
   text-decoration: none;
   border-bottom: 1px solid #b24d8a;
   padding-bottom: 1px; }

a:visited {color: #c033cc; }

a:hover, a:focus, a:active {background-color: #fff5e8;
                            color: #800080;
                            border-bottom-color: #fdebcf; }

div#wrapper {width: 728px;
             margin-left: auto;
             margin-right: auto;
             margin-top: 10px;
             margin-bottom: 10px;
             background-color: white;
             background-image: url(images/pinkwrapper.png);
             background-repeat: repeat-y;
             background-position: left top;
             background-attachment: scroll;
             border: 2px dotted pink; }

header {height: 90px;
        margin-bottom: 20px; }

header h1, header p {text-indent: -99999999px; }

.home header {background: white url(images/bannerhomemonkey.png) no-repeat; }
.services header {background: white url(images/bannerhomemonkey.png) no-repeat; }
.about header {background: white url(images/bannerhomemonkey.png) no-repeat; }
.contact header {background: white url(images/bannerhomemonkey.png) no-repeat; } 

article {float: left;
         width: 500px;
         padding-left: 10px; }

nav {float: right;
     width: 200px;
     padding-right: 5px; }

footer {clear:both;
        padding: 10px;
        font-size: 75%;
        height: 1%;
        background-color: #fd88f5;
        color: #fff6b3;
        border-top: 2px dotted #ef10b3; }

footer p {margin-bottom: 0;}

footer a:link {color: pink;}

footer a:hover, footer a:focus, footer a:active {background-color: transparent;
                                                 border: none;}

nav ul {list-style-type: none;
       border: 1px solid #cd99cf;
       margin-left: 0;
       padding-left: 5px;
       border-bottom: none;
       display: block;
       line-height: 2;
       height: 1%; }

nav a {display: block;
       background: #fbdfee;
       padding-left: 1px;
       line-height: 2;
       border-bottom-color: #cd99cf;
       height 1%; }

nav a:hover {background-color: pink; }

nav li {display: inline; }

table {border: 1px solid pink; }

caption {display: none; }

thead {color: #f466c2;
       background-color: #fde;
       text-align: left; }

tbody {font-family: Georgia, serif;
       font-size: 90% }














